html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
.bImg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* To see parallax effect keep background-attachment to fixed and for normal keep it to scroll */
  background-attachment: fixed;
}
.b1{
  min-height: 100%;
  background-image: url(../images/cityImg1.jpg);
}
.b1 > h2{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  position: absolute;
  top: 90%;
  color: antiquewhite;
  text-shadow: 2px 2px blueviolet, -2px 2px goldenrod, 2px -2px rosybrown, -2px -2px greenyellow;
}
.b2{
  min-height: 70%;
  background-image: url(../images/cityImg2.jpg);
}
.b3{
  min-height: 90%;
   background-image: url(../images/cityImg3.jpg);
}
section{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: gold;
  background-color: black;
  border: 1px solid yellowgreen;
}