html, body{
  width: 100%;
  height: auto;
}
main{
  width: 100%;
  min-height: 900px;
  background-image: linear-gradient(90deg, orange, gold);
}
.outer{
  width: 100%;
  height: 100vh;
  background-image: url(../backgroundImages/firewatch-sunrise-minimal-4k-u9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
.logoName{
  position: fixed;
  top: 10%;
  left: 33%;
  opacity: 0.2;
}
.innerScroll{
  width: 100%;
  height: 100vh;
  background-image: url(../backgroundImages/firewatch-background-scroll2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: absolute;
  top: -200%;
  z-index: 0;
}
.rockImages{
  width: 100%;
  height: 400px;
  background-image: url(../backgroundImages/magFirewatch-scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: scroll;
  position: absolute;
  top: 80%;
}
.container{
  width: 100%;
  height: 900px;
  position: relative;
  top: 100vh;
  background-color: blue;
}