main{
  width: 100%;
  height: 950px;
  background-image: url(../backgroundImages/firewatch-sunrise-minimal-4k-u9.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  background-color: black;
  width: 100%;
  height: 30px;
  color: gold;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
header > strong{
  display: inline;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  line-height: 20px;
}
header > nav{
  display: inline;
  float: right;
  line-height: 20px;
  font-size: 14px;
  margin-top: 7px
}
nav > a{
  margin-right: 5px;
}
main > .img{
  opacity: 0.3;
  position: fixed;
  top: 12%;
  left: 30%;
}
#scrollBc{
  background-image: url(../backgroundImages/firewatch-background-scroll2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100px;
}
#rocksImage{
  background-image: url(../backgroundImages/magFirewatch-scroll.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: bottom;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 70vh;
  z-index: 1;
}
#mainScroll{
  position: relative;
  width: 100%;
  height: 700px;
  background-color: brown;
  background-repeat: no-repeat;
  background-attachment: local;
}